<div class="tasks edit container">
    <h2> Edit Task <%=params[:id]%></h2>
    <%= form_for( @task) do |f| %>
        <%  # url: task_path(@task), method: patch %>
        <%= render(partial: 'form', locals: {f: f}) %>
    <% end %>
</div>
