<div class="tasks new container">
    <h2> Create Task</h2>
    <%= form_for( @task) do |f| %>
        <%  # url: task_path, method: post %>
        <%= render(partial: 'form', locals: {f: f}) %>
    <% end %>
</div>
