/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
//  *= require_tree .
//  *= require_self
 */
 /* // Custom bootstrap variables must be set or imported *before* bootstrap. */
 @import "bootstrap";
 @import "font-awesome";
 @import "jquery-ui.css";


 @media print {
    /* Hide certain elements */
    .no-print {
      display: none;
    }
    .container.print {
        width:max-content;
        max-width:100%;
      }
  
    .print img {
      width:200px;
      height:200px;
      object-fit: cover;
    }
    .print .card-body { 
      text-align: left;
      position: absolute;
      top: 0px;
      left: 216px;
    }

    /* Adjust font sizes and margins for better readability */
    body {
      font-size: 8pt;
      margin: 5mm;
    }
  
    /* Define specific styles for headers and footers */
    @page {
      size: Letter;
      margin: 5mm;
    }
    @page :first {
      margin-top: 6mm;
    }
    @page :last {
      margin-bottom: 5mm;
    }
  }

  